@font-face {
    font-family: 'Futura Std Book';
    src: url('./fonts/Futura Std Book.ttf');
}

@font-face {
    font-family: 'Futura Thin';
    src: url('./fonts/Futura_Thin.ttf');
}

 * {
    font-family: Futura Std Book;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 0;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

button {
    background-color: white;
    border: 1px solid black;
}

button a {
    display: inline-block;
    padding: 10px 25px;
}

nav {
    text-align: center;
    padding: 15px;
    background-color: white;
}

nav a {
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;
    color: #A0A09F;
    line-height: 40px;
    font-size: 15px;
    

    padding: 0 35px;
    border-right: 1px solid rgba(47, 46, 46, 1);
    transition: color 0.4s ease 0s;
}

nav a:last-child {
    border-right: none;
}

nav a.active, nav a:hover {
    color: #2F2E2E;
}

.main {
    text-align: center;
    padding: 40px;
    background-color: white;
}

.header {
    /* display: inline-block; */
    letter-spacing: 0.45em;
    padding: 40px;
}

.header h1 {
     letter-spacing: 0.45em; 
    text-transform: uppercase;
    font-size: 37px;
    margin-bottom: 25px;
}

.header h2 {
    font-size: 23px;
}

.footer {
    text-align: center;
    color: white;
    padding: 40px;
}

.footer h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .45em;
}

.container {
    padding: 30px;
    display: inline-block;
    width: 100%;
    max-width: 1000px;
}

.container.cv, .container.about, .container.blog, .container.post {
    text-align: left;
}

.container * {
    font-family: Futura Thin;
}

.container h3 {
    font-size: 23px;
    margin-bottom: 15px;
}

.container p {
    font-size: 18px;
    line-height: 20px;
}

.cv-section {
    width: 100%;
    padding: 10px;
}

.cv-section h4 {
    padding: 10px;
}

.cv-row {
    padding-left: 10px;
}

.cv-date, .cv-dated-content {
    display: inline-block;
}

.cv-date {
    width: 20%;
    vertical-align: top;
}

.cv-dated-content {
    width: 80%;
}

.conference {
    margin-bottom: 15px;
}

.new-projects h3 {
    text-transform: uppercase;
}

.about p {
    margin-bottom: 20px;
}

.blog .blog-column {
    display: inline-block;
    vertical-align: top;
}

.blog .blog-posts {
    width: 70%;
}

.blog .blog-side-bar {
    width: 30%;
}

.blog-side-bar-item {
    margin-bottom: 15px;
}

.blog-side-bar p {
    font-size: 16px;
    text-transform: uppercase;
}

.blog li {
    margin-top: 30px;
}

.blog li:first-of-type {
    margin-top: 0;
}

.blog p {
    margin-bottom: 5px;
}

.blog button {
    margin-top: 10px;
}

.blog .title {
    font-family: Futura Std Book;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.blog .category {
    border: 2px solid black;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-left: 20px;
}

.blog .date {
    font-size: 14px;
}

.blog .blog-tags {
    display: inline-block;
    margin-top: 0;
    margin-right: 5px;
}