---
layout: default
---

<div class="main">
    <div class="header">
        <h1>CV</h1>
    </div>
    <div class="container cv">
        <div class="cv-section education">
            <h4>Education</h4>
            {% for education in site.data.education %}
                <div class="cv-row">
                    <div class="cv-date">
                        <p>{{ education.date }}</p>
                    </div>
                    <div class="cv-dated-content">
                        {% for details in education.details %}
                            <p>{{ details }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cv-section">
            <h4>Honors, Awards, and Scholarships</h4>
            {% for award in site.data.awards %}
                <div class="cv-row">
                    <div class="cv-date">
                        <p>{{ award.date }}</p>
                    </div>
                    <div class="cv-dated-content">
                        <p>{{ award.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cv-section">
            <h4>Conference Presentations</h4>
            {% for conference in site.data.conferences %}
                <div class="cv-row">
                    <p class="conference">
                    {% for name in conference.names %}
                        {{ name }}{% unless forloop.last %},{% endunless %} {% if forloop.rindex0 == 1%}& {% endif %}
                    {% endfor %}
                    ({{ conference.date }}). {{ conference.title }} {{ conference.location }}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>