---
layout: default
---

<div class="main">
    <div class="header">
        <h1>Blog</h1>
    </div>
    <div class="container blog">
        <div class="column column-content">
            <ul class="blog-posts">
                {% for post in site.posts %}
                    <li>
                        <div class="title-category">
                            <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                            {% if post.category.size %}
                                <a class="category" href="">{{ post.category }}</a>
                            {% endif %}
                        </div>
                        <h5 class="date-author">
                            {{ post.date  | date: "%B %-d, %Y" }} | {{ post.author }}
                        </h5>
                        <p>{{ post.snippet }}</p>
                        <button>
                            <a href="{{ post.url }}">Read More</a>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column column-side-bar">
            {% include sidebar.html %}
        </div>
    </div>
</div>