<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=devicewidth, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Kate W. Guan</title>
    </head>

    <nav>
        <a href="/">Home</a>
        <a href="">New Projects</a>
        <a href="/cv/">CV</a>
        <a href="">About</a>
        <a href="">Blog</a>
    </nav>

    {{ content }}

    <div class="footer">
        <h2>Psychologist in progress</h2>
        <div class="container">
            <div class="social-media"></div>
            <div class="mailing-list"></div>
            <div class="copyright"></div>
        </div>
    </div>
</html>